body {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    background: #080f1c;
    color: #d7ecff;
}

/* HERO */
.hero {
    padding: 100px 20px;
    text-align: center;
    background: linear-gradient(135deg, #031a30, #06263d);
    color: #00eaff;
}

.hero h1 {
    font-size: 40px;
    text-shadow: 0 0 15px #00eaff;
}

.hero p {
    color: #b8e9ff;
}

/* BUTTON */
.btn {
    display: inline-block;
    padding: 14px 30px;
    margin-top: 20px;
    background: linear-gradient(135deg, #00eaff, #00ff9d);
    color: #003;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

/* CONTENT */
.section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

footer {
    margin-top: 50px;
    padding: 30px;
    text-align: center;
    opacity: 0.6;
}
